:root {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
}

.grid-container {
  display: grid;
  height: 100vh; /* Optional: Makes the container take the full viewport height */
  grid-template-columns: 20vw 1fr; /* 20% width sidebar, rest for content */
  grid-template-rows: auto 1fr auto; /* Header height, main content fills space, footer height */
  grid-template-areas:
    "header main"
    "sidebar main"
    "sidebar footer";
}
header {
  grid-area: header;
  position: fixed;
}

header h1 {
  font-family: 'Lato', sans-serif;
  font-size: clamp(2rem, 5vw, 20vh);
  font-weight: 600;
  letter-spacing: -0.1em;
}

.site-nav{
  grid-area: sidebar;
  /* Add styling for fixed positioning and scrolling if needed */
  /* overflow-y: auto; position: fixed; height: 100%; */
  position: fixed;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

nav ul {
  gap:12px; 
  list-style:none; 
  margin:0; 
  padding:0;
}

nav a{
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  letter-spacing: -0.08em;
  text-decoration:none;
  color: black;
}

main {
  max-width:720px; 
  margin:48px auto; 
  padding:0 24px;
}
