:root {
  font-size: 18px;
}

body {
  font-family: 'Lato', sans-serif;
}

.landing-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.landing-page h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: -0.1em;
  text-align: center;
  font-size: clamp(5rem, 10vw, 20rem);
}

.grid-container {
  display: grid;
  height: 100vh; /* Optional: Makes the container take the full viewport height */
  grid-template-columns: 1fr minmax(0, 720px) 1fr; /* 20% width sidebar, rest for content */
  /* grid-template-rows: 1fr auto; /* main content fills space, footer height */
  grid-template-areas:
    "sidebar main"
    "footer footer";
}

.site-nav{
  grid-area: sidebar;
  /* Add styling for fixed positioning and scrolling if needed */
  /* overflow-y: auto; position: fixed; height: 100%; */
  position: sticky;
  top: 0;
}

footer {
  grid-area: footer;
  grid-column: span(2);
}

nav ul {
  gap:12px; 
  list-style:none; 
  margin:0; 
  padding:0;
}

nav a{
  font-family: 'Lato', sans-serif;
  font-size: clamp(1.5rem, 3.5vw, 3rem);;
  font-weight: 500;
  letter-spacing: -0.08em;
  text-decoration: none;
  color: black;
}

main {
  grid-area: main;
  flex: 600px 0 1;
  margin: 0 auto; 
  padding:0 24px;
  text-align: justify;
}

main h2 {
  text-align: center;
  font-size: 2rem;
}

.circle-cropper {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.circle-cropper img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

